/* 
    Document   : common
    Created on : Aug 30, 2014, 8:47:25 AM
    Author     : shakti
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.backgroundpopup
{
    z-index:1;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.4;
}

div.loader{
    z-index:2;
    position: absolute;
    top:30%;
    left:40%;
    display: none;
}

div.footer-form{
    position:relative;
    bottom:0;
    font-size: 12px;
    background-color: #ccccff;
}

