body {
    font-family: ubuntu;
}
.float {
    float: right;
}

hr {
    border-width: 1px;
    border-style: solid none;
    width: 50%;
}
.header {
    padding:  1% 0% 1% 0%;
    background-color: #28ABCC;
    color: #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 105%;
    z-index: 1;
}

.header img {
    display: block;
    margin: 0 auto;
}
.header ul {
    padding-top: 2%;
}

.header li {
    display: inline;
    list-style: none;
    padding: 2%;
    font-size: 15px;
}

.header li:hover {
    background-color: #2090AC;
    font-size: 15px;
    cursor: pointer;
}

.slider {
    height: 400px;
    width: 100%;
}
.bg-img {
    position: fixed;
    left: 0px;
    z-index: 0;  
    width: 100%;
    height: 400px;
}
.fg-img{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 400px;
    color: #FFF;
    z-index: 1;
}
.feature {
    background-color: #F7FDF4;
    z-index: 1;
    position: relative;
}
.feature div:nth-child(1) > h1 {
    font-size: 48px;
    font-family: sans-serif;
}
.feature div:nth-child(2) > h5 {
    font-family: sans-serif;
    padding-bottom: 5%;
}
.feature div:nth-child(3) > div {
    margin-bottom: 2%;
}

.feature div:nth-child(3) > div > h4 {
    font-weight: bold;
}.feature div:nth-child(3) > div > p {    
    font-size: 12px;
}
.snd-feature {
    background-color: #494949;
    width: 100%;
    color: #BBB;
    padding: 2%;
    z-index: 1;
    position: relative;
}
.snd-feature > .container div {
    width: 20%;
}
.snd-feature ul {
    list-style: none;
}
.footer {
    background-color: #494949;
    color: #BBB;
    padding: 2%;
    z-index: 1;
    position: relative;
}
.footer > div >div> div:nth-child(2) {
    margin-left: 10%;
}
.footer ul li {
    display: inline;
    list-style: none;
    padding: 2%;
}
.live-chat-btn {
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.live-chat {
    display: none;
    background-color: #333;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 40%;
}
.live-chat > div {
    height: 12%;
    background-color: #39B3D7;
    margin-bottom: 10px;
    padding: 2%;
    margin-right: -5%;
    margin-left: -5%;
    color: #333;
}
.live-chat-window {
    display: none;
    background-color: #333;
    /*padding: 2%;*/
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 40%;
    
}