.text-saffron{color:#ff3300;}
.text-cadetBlue{color: #006666;}
.text-white{color:#ffffff;}
.font18{font-size: 18px;}
.font36{font-size: 18px;}
.bgacquarine{background-color: #ccffcc;}
.bgajure{background-color: #ccccff;}
.bgDarkSlateGray{background-color: #006666;}
.bgCadetBlue{background-color: #5F9EA0;} 
.padding10{padding: 10px;}