body
{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}
#backgroundpopup
{
    z-index:1;
    background-color : #080000;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.4;
}

.header
{
    width: 100%;
    height:45px !important;
    background-color: #444444;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.credentials
{
    margin-top: 5px;
}

.header ul li
{
    list-style-type: none;
    display: inline;
    text-align: center;
    font: 15px calibri;    
}

.leftslider
{
    text-align: center;
    color: #FFFFFF;
    margin: 50px 0px 15px 0px;
    
}
.leftslider h2
{
    font-size: 50px;
    
}

.leftslider h3
{
    font-size: 40px;
    
}
.leftslider a
{
    margin: 5px;
}

.exp-heading
{    
    background-color: #3498DB;
    color: #FFFFFF;
    font-family: calibri;
    padding: 10px 0px 10px 0px;
}
.noofques
{
    background-color: #444444;
    color:#FFFFFF;
    font-family: Calibri;
    padding: 5px 0px 5px 0px;
}
.uppernumques
{

}
.uppernumques a >li
{
    display: inline-block;
    list-style-type : none;

}
.lowernumques li
{
    list-style-type: none;
}
.subfooterheading
{
    text-align: center;
    padding: 20px;
}
.footer
{
   padding: 30px 0px 30px 0px;
   background-color: #444444;
   float: right;
   text-align: center;
}
.footer img
{
    margin: 0px 25px 0px 25px;
}

div.loginstyle
{
    z-index:2;
    position: absolute;
    top: 45px;
    right: 20px;
    display:none;
}

div.loginstyle > div:first-child
{
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
}

div.signupstyle
{
    z-index:2;
    position: absolute;
    top: 15%;
    left:40%;
    display:none;
    
}

div.signupstyle > div:first-child
{
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
}

.quesformat
{
    background-color: #E9F2FB;
    width: 100%;
    font: 18px calibri;
    font-weight: bold;
    word-spacing: 4px;    

}


