/* B. Reset rule */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,  legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
/*	vertical-align: baseline;*/
vertical-align:middle;
	background: transparent;

}
html, body{background:none repeat scroll 0 0 #EEEEEE; font:Arial, Helvetica, sans-serif; font-size:12px;}
html, body {
   min-height: 100%; /*Sets the min height to the
                       height of the viewport.*/
   width: 100%;
   height: 100%; /*Effectively, this is min height
                   for IE5+/Win, since IE wrongly expands
                   an element to enclose its content.
                   This mis-behavior screws up modern
                   browsers*/
   }

html>body, html>body #wrapper {
   height: auto; /*this undoes the IE hack, hiding it
                   from IE using the child selector*/
   }


body {
   margin: 0;
   font-family: Arial, helvetica, sans-serif;
   }

#wrapper {
   background-color: white;
    box-shadow: 0 2px 10px #AAAAAA;
    display: block;
	 width:1000px;
	 margin:0 auto;
	 height:100%;
	 min-height:100%;
	 position:relative;
   }

#footer {
   bottom: 0;
   background-color: #001d4b;
   width: 100%;
   height:30px;
   color:#fff;
    position: absolute;
   }
#footerContent{padding:5px;}
#main {
   margin-bottom: 30px;; /*Modify value as needed for
                         footer height.*/
   height: auto;
   padding:0;
   min-height:510px;
   }
   #header{ height:120px; width:100%;}
   .logo{ width:200px; padding:10px}
   .headerRight{ width:750px;}
   .headerRight ul{ list-style-type:none; margin:5px 5px 0 0; padding:0px;}
   .headerRight ul li{ float:right; padding:0 3px;}
   .headerRight ul li a{color:#00387e; text-decoration:none;}
   .headerRight ul li.welcomeUser{ width:500px;}
   #nav{ height:35px; width:100%; background:#fb6e00;}
   #nav ul, #nav ul li{ margin:0; padding:0; list-style-type:none;}
   #nav ul li{ float:left; padding:10px;}
   #nav ul li a{ color:#fff; text-decoration:none; padding:5px 10px;}
   #nav ul li a:hover, #nav ul li.active a{ color:#00387e; background:#fff; padding:5px 10px; border-radius:5px;
   -ms-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
   -webkit-border-radius:5px;}
   #nav ul li ul{ padding:0px; position:absolute; visibility:hidden; background:none repeat scroll 0 0 #FB6E00; width:100%; margin-top:10px; left:0px;}
    #nav ul li.dropMenu:hover ul{ padding:0px; position:absolute; visibility:visible; }
   #nav ul li ul li{float:left; background:none repeat scroll 0 0 #FB6E00; padding:10px;}
   #nav ul li ul li a{ color:#fff;}
   #nav ul li ul li a:hover{ color:#00387e; cursor:pointer;}
   #nav ul li a:active{}
   .gt{ color:#fb6e00; padding:0px 5px;}
   #breadcrum{ padding:5px;}
   .breadcrumbActive, #breadcrum a{color:#00387e;}
   #breadcrum a:hover{color:#fb6e00;}
   #pageContent{}
   #pageContent .column{ width:450px; height:300px; padding:20px;}
   .formElement dt{ width:150px; float:left;}
   .formElement dd{ width:300px; float:left;}
   .formElement dl{ float:left; padding: 0 0 10px; width:100%;}
   .formElement dl.odd{ background:#fafafa;}
   .formElement dd input[type="text"], select{ border: 1px solid #DFDFDF;
    box-shadow: 0 0 2px 0 #CECECE; height:20px; width:250px;}
	.formElement dd textarea { border: 1px solid #DFDFDF;
    box-shadow: 0 0 2px 0 #CECECE; height:40px; width:250px;}
	.mandatory{ color:#fb6e00;}
	.buttonDiv{ text-align:center;}
	.buttonDiv input.button{ background: none repeat scroll 0 0 #00387E;
    border-left: medium none;
    border-top: medium none;
    color: #FFFFFF;
    padding: 2px 10px;
	-moz-border-radius:5px; border-radius:5px; cursor:pointer;}
   .clearBoth{ clear:both;}
   .clearLeft{ clear:left}
   .floatLeft{float:left;}
   .floatRight{ float:right;}