body {
	padding:0px;
	margin:0px;
	background-image:url(back.png);
	background-size: auto auto;
	background-position: center top;
	background-repeat: repeat;
}
.header{
margin:0px;
padding:0px;
height:80px;
width:auto;
background-color:#000;
}
.header-cont{
min-height:80px;
position:relative;
margin:0px auto;
font-family:arial;
width:1000px;
}
.name{
color: #FFFFFF;
font-size:20px;
display:block;
padding-top:25px;
}
.name{
float:left;
}
.menu ul li{
	display: inline-block;
    padding: 0px;
	text-align:center;
	margin:0px;
}.menu{float:left;}
.menu a{
text-decoration:none;
color:#FFF;
display:block;
font-size:16px;
padding:20px;
text-align:center;
margin-right:40px;	
}
.con{float:right;}
.con ul li{
	text-decoration:none;
	display: inline-block;
    padding: 0px;
	text-align:center;
	margin-top:20px;
}
.content{
padding-top:50px;
min-height:auto;
position:relative;
margin:0px auto;
width:1000px;
}
.middile{
color:black;
font-size:50px;
font-family:arial;
float:left;
}
.dotleft{
float:left;
padding-top:5px;
color:#BDB9B9;
margin-right:10px;
font-size:30px;
}
.dotright{
float:left;
margin-left:10px;
padding-top:5px;
color:#BDB9B9;
margin-right:0px;
font-size:30px;
}
.dot2{
color:black;
float:left;
font-size:100px;
}
.dots{
color:#BDB9B9;
font-size:30px;
}
.images{
width:200px;
float:left;
margin:25px;
}
.hh{
font-family:arial;
font-weight:bold;
}
.ss{
font-family:arial;
font-size:12px;
color:#AFA9A9;
}
.btn-selection a{float:left;margin:10px;
text-decoration:none;
font-family:arial;
background-color:pink;
border-radius:10px;
color:#FFF;
}